# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/logs
run/saves
run/crash-reports
run/config
run/downloads
runs
run-data

repo